<header>
  <h1><a href="/">Odin's Archive</a></h1>
  <nav>
    <% if (user) { %>
    <p>Welcome, <%= user.username %>.</p>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/sign-up">Sign Up</a>
    <a href="/login">Login</a>
    <% } %>
  </nav>
</header>
