<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/landing.css" />
  </head>
  <body>
    <main>
      <div class="landing-content">
        <h1>Odin's Archive!</h1>
        <h2>The simple and minimal file storage solution.</h2>
        <p>A simple service to host and share your files with others.</p>

        <p>Want to try it out? <a href="/sign-up">Create an Account</a></p>
        <p>Already have an account? <a href="/login">Login</a></p>
      </div>
    </main>
  </body>
</html>
