<form action="/login" method="POST">
  <label for="username">Username: </label>
  <div class="error-message" id="username-error"></div>
  <input
    type="text"
    name="username"
    id="username"
    minlength="3"
    maxlength="32"
    value="<%= formData ? formData.username : '' %>"
    required
  />

  <label for="password">Password: </label>
  <div class="error-message" id="password-error"></div>
  <input
    type="password"
    name="password"
    id="password"
    minlength="6"
    value="<%= formData ? formData.password : '' %>"
    required
  />

  <button type="submit">Login</button>
</form>
